body {
    background-color:#555555;
    font-family: "Source Code Pro", monospace, "Microsoft YaHei";
}

.default-div {
    width: 100%;
    text-align: center;
    padding-top: 40px;
}

.search-input:required, .search-input:invalid {
    box-shadow: none;
}
.search-input {
    width: 50%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 16px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
input {
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: -internal-light-dark-color(white, black);
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.common-button {
    border:0;
    display:inline-block;
	background-color:#e67e22;
	cursor:pointer;
	color:#ffffff;
	font-family:Microsoft YaHei;
	font-size:16px;
	padding:8px 18px;
	text-decoration:none;
	text-shadow:1px 1px 0px #2f6627;
}
.common-button:hover {
	background-color:#bf6516;
}

h2 {
    color:#eeeeee;
}

table {
    padding: 0px 15%;
    width: 100%;
    text-align: center;
}

td {
    width: 10%;
    padding: 0px 0px 30px 0px;
    font-size: 20px;
}

a:hover {
    text-decoration:underline;
}
a:active, a:hover {
    outline: 0;
}
a {
    background: transparent;
    text-decoration:none;
    color: #1b1;
}

hr {
    align: center;
    width: 80%;
    height: 1px;
    border-width: 0;
    background-color: #666;
    noshade: noshade;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 250px;
    height: 40px;
    padding: 0px 10px;
    font-size: 20px;
    background-color: #03e;
    color: #0b0;
    border: 0;
}